/*--------------------- General styles start ---------------------*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,300);
* {
    box-sizing: border-box
}

body {
    padding: 0;
    margin: 0;
    background: #fff url('/img/body-bg.jpg') center top;
    background-size: cover;
    color: black;
    font-family: 'Ubuntu', Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
}

a {
    color: black;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

input,
select,
textarea {
    font-size: 14px;
    font-family: Arial, Arial, Helvetica, sans-serif;
    border: 0;
}

img {
    border: 0px;
}


/*--------------------- General styles end ---------------------*/

.wrap {
    width: 953px;
    margin: 0 auto;
}


/*--------------------- Header start ---------------------*/

.head {
    background: rgba(255, 255, 255, 0.9);
    height: 233px;
}

.head_inner {}

.logo {}

.head_info {
    margin-left: 257px;
}

.topinfo {}

.head_phone {}

.phone {
    color: #2bb357;
    font-size: 18px;
    font-weight: 500;
    line-height: 17px;
    text-decoration: none;
}

a.phone_btn {
    width: 170px;
    height: 31px;
    background-color: #2bb357;
    border-radius: 3px;
    box-shadow: 0 3px 0 #26a14e;
    display: block;
    color: white;
    line-height: 30px;
    text-align: center;
}

.city_select {}

.select_title {}

.select_inner {}

.user_menu {
    float: right;
    a {
        color: white;
        line-height: 14px;
        height: 54px;
        box-shadow: 0 3px 3px #26a14e;
        background-color: #2bb357;
        border-radius: 3px;
        display: table-cell;
        vertical-align: middle;
    }
}

.entry,
.cart {}

.entry:before,
.cart:before {
    content: "";
    display: block;
    background-image: url('/img/user.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 14px;
    margin: 22px 12px 22px 12px;
    display: table-cell;
    vertical-align: middle;
}

.entry {
    width: 126px;
    box-shadow: 0 3px 3px #26a14e;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.cart {
    width: 113px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    &:before {
        background-image: url('/img/cart.png');
    }
}


/*--------------------- Header end ---------------------*/
