/*--------------------- General styles start ---------------------*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,300);
* {
    box-sizing: border-box
}
body {
    padding: 0;
    margin: 0;
    background: #fff url('/img/bg.jpg') center;
    background-size: cover;
    color: black;
    font-family: 'Ubuntu', Arial, sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
}
a {
    color: black;
    text-decoration: none
}
a:hover {
    text-decoration: underline
}
input[type="text"],
select,
textarea {
    font-size: 12px;
    font-family: 'Ubuntu', Arial, sans-serif;
    color: #4a4949;
    outline: none;
    padding: 0 5px;
}
::-webkit-input-placeholder {color:#4a4949;}
::-moz-placeholder          {color:#4a4949;}/* Firefox 19+ */
:-moz-placeholder           {color:#4a4949;}/* Firefox 18- */
:-ms-input-placeholder      {color:#4a4949;}
input[type="button"],input[type="submit"],button{
    font-size: 12px;
    font-family: 'Ubuntu', Arial, sans-serif;
    cursor: pointer;
    outline: none;
}
img {
    border: 0px;
    max-width: 100%;
}
.clearfix{
    content: '';
    display: table;
}
/*--------------------- General styles end ---------------------*/
.wrap {
    width: 955px;
    margin: 45px auto;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px 5px 0 0;
}
/*--------------------- Header start ---------------------*/
.head {
    overflow: hidden;
}
.head_inner {
    width: 100%;
}
.logo {
    float: left;
    width: 257px;
    padding: 50px 50px 0;
}
.head_info {
    padding: 25px 44px 44px 0;
}
.topinfo {
    line-height: 17px;
    margin-bottom: 24px;
}
.head_phone{
    float: left;
    text-align: center;
    a {
        color: #2bb357;
        font-size: 18px;
        font-weight: 500;
        line-height: 17px;
        text-decoration: none;
    }
}
a.phone_btn {
    width: 170px;
    height: 31px;
    background-color: #2bb357;
    border-radius: 3px;
    box-shadow: 0 3px 0 #26a14e;
    display: block;
    color: white;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin-top: 9px;
}

.city_select {
    overflow: hidden;
    text-align: center;
    padding-top: 20px;
    color: #2b328f;
    height: 40px;
    a{
        color: #2b328f;
        border-bottom: 1px dotted #2b328f;
        text-decoration: none;
    }
}
.user_menu {
    float: right;
    padding-top: 3px;
    a {
        color: white;
        line-height: 14px;
        height: 54px;
        background-color: #2bb357;
        box-shadow: 0 3px 0 #26a14e;
        display: table-cell;
        vertical-align: middle;
        position: relative;
        padding-left: 32px;
    }
}
.entry,.cart {
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        background: url('/img/user.png') no-repeat center;
        width: 32px;
        height: 54px;
    }
}
.entry {
    width: 126px;
    border-radius: 3px 0 0 3px;
}
.cart {
    width: 113px;
    border-radius: 0 3px 3px 0;
    &:before {
        background-image: url('/img/cart.png');
    }
}
.menu{
    width: 100%;
    height: 52px;
    box-shadow: inset 0 3px 5px rgba(12, 79, 140, 1);
    background:#1b66aa;
    padding: 9px 32px 0;
    ul{
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-left: 30px;
        line-height: 35px;
        width: 590px;
    }
    li{
        float: left;
        margin-right: 26px;
        &:last-child{
            margin: 0;
        }
    }
    a{
        color: #fff;
    }
}
.search{
    width: 192px;
    float: left;
    position: relative;
    input[type="search"]{
        width: 100%;
        height: 35px;
        background:#fff;
        border: 1px solid rgba(17, 70, 118, 0.5);
        border-radius: 5px;
        padding-left:24px;
        padding-right: 30px;
    }
    input[type="submit"]{
        border: 0;
        position: absolute;
        right: 11px;
        top: 8px;
        width: 18px;
        height: 17px;
        background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAASCAYAAAC5DOVpAAACa0lEQVQ4T6WTP2gUQRTGvze5RcJJkuIsRDQRlKQQtVPsRVCENFFBBUU50CYJnEZ2ZsNcduZCMErgEDtRQZG0iqQQbESwsggqBAtBiwsEOQ0n0c3tk133jk0ulxRONbzvzW/eX0Kbo7Xe7jjOvjAMc0KI75VK5UO5XP7dzj+y03pxYmLiSEYIBaLjALY1dGb+BWD2TxDYYrH4eSNoGkbW9y0JcWujT1LQFRBdk1I+XA9swqy1MwQMNx8Br5n5BREtAdhNzEMgOpTozMBVKeWDNDCGGWOOCaI3UURROgycU0o9X/dzFPkICXEn8fsZrK72a60rDb8YZo2ZI6IT0Z3r9fNyfPxpu0IbYyYFUVQKcBjelp53swkbHR3t3JHL/QDgAFhwpezfrGNjY2Pd3V1di3FzmOddpQ42YSWtB+A4n2ID8yNXqUubwZJM3hPRYQDLrpRdTZjv+/s7hFhIYE9cpS5sCbN2noADLbB8Pu/09fZGaXYC+PYnCPZqrVfbAa21Own4CqADwDtXyqNrGlAyZhZEQ0lRC9Lzoo5teErGPAbRxdgXcKWUk2thWg9wJjNPRBkAdQ7DG0G9Xk5HGK9XJjNFRNcT0GIQBANa6+oaWFxU3x8mIWZS4Xxh5jkGloh5D4hOElGuoTNzlYFTSqm3LbDI4Pv+5Q4h7iX1a5dptOyNna3Vw3DQ87xXkXPLohtjdgmgAKJBAH0JkcH8EcCz5VrtfjabnRJEV/5NE68wcCbamBZYOpxCoZDt6enJVavVpenp6VpKo5Ixd0E0ktiCkPnsprCt5s0YUxRE48mMvvwvWNw4a/PEfDoE/L+ucfn1nZoTEwAAAABJRU5ErkJggg==) no-repeat;
    }
}
/*--------------------- Header end ---------------------*/

/*--------------------- Content start ---------------------*/
.slider{
    max-width: 880px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    position: relative;
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .bx-prev,.bx-next{
        position: absolute;
        top: 50%;
        left: -13px;
        margin-top: -11px;
    }
    .bx-next{
        left: auto;
        right: -13px;
    }
    .bx-pager{
        position: absolute;
        bottom: 50px;
        width: 150px;
        left: 50%;
        margin-left: -75px;
        text-align: center;
    }
    .bx-pager-item{
        display: inline-block;
        .bx-pager-link{
            display: block;
            text-indent: -9999px;
            width: 10px;
            height: 10px;
            background:#fdfcfc;
            border-radius: 50%;
            margin-right: 3px;
        }
        .active{
            background:#2bb357;
        }
    }
}
.pref{
    max-width: 880px;
    margin: auto;
    overflow: hidden;
    .p_item{
        display: block;
        float: left;
        padding: 0 2%;
        width: 33.33%;
        height: 150px;
        text-decoration: none;
        &:first-child{
            padding-left: 0;
        }
        &:last-child{
            padding-right: 0;
        }
        span{
            display: block;
            height: 110px;
            background:#0081be;
        }
        h2{
            margin: 0;
            line-height: 40px;
            text-align: center;
            color: white;
            font-size: 16px;
            background:#159a41;
            font-weight: 300;
        }
    }
}
.new,.bestsell{
    width: 100%;
    height: 500px;
    background:url('/img/new_bg.jpg') no-repeat center top;
    background-size: 100% 100%;
    padding-top: 25px;
    margin-top: 22px;
    &_inner{
       width: 860px;
       margin: auto; 
       .bx-wrapper{
            position: relative;
       }
       .bx-prev,.bx-next{
            position: absolute;
            top: -75px;
            right: 60px;
            width: 34px;
            height: 34px;
            background:#71de95;
            border-radius: 3px;
            box-shadow: 0px 1px 2px #205c34;
            text-align: center;
            line-height: 34px;
            font-size: 19px;
            text-decoration: none;
            font-weight: 400;
        }
        .bx-prev{
            right: 105px;
        }
    }
    h3{
        color: white;
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        margin-top: 5px;
        margin-bottom: 52px;
    }
    &_slider{

    }
    &_item{
        width: 200px;
        height: 350px;
        background: #fff;
        padding-top: 22px;
        text-align: center;
        img{
            display: block;
            margin: auto;
            margin-bottom: 15px;
        }
        strong{
            color: #1e9d48;
            font-size: 16px;
            line-height: 18px;
        }
    }
    &_title{
        color: #0a345b;
        font-size: 14px;
    }
    &_desc{
        margin-top: 15px;
        margin-bottom: 22px;
        padding: 0 20px;
    }
    &_buy{
        display: block;
        width: 135px;
        height: 42px;
        background:#1b66aa;
        color: #fff;
        box-shadow: 0 2px 0 #0d3d7c;
        border-radius: 5px;
        font-size: 14px;
        line-height: 42px;
        text-decoration: none !important;
        margin: auto;
        margin-bottom: 15px;
    }
}
.bestsell{
    margin-top: 0;
    padding-top: 47px;
    background: #f7f9fa;
    h3{
        color: #ffc000;
    }
    &_item{
        border: 1px solid #d3d4d5;
    }
    .bx-prev,.bx-next{
        background: #ffc000;
        color: #fff;
        box-shadow: 0px 1px 2px #999074;
    }
}
.news{
    width: 840px;
    margin: auto;
    padding-top: 34px;
    padding-bottom: 40px;
    &_inner{
        columns: 2 400px;

    }
    h3{
        color: #1b66aa;
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        margin: 0;
        margin-bottom: 34px;
    }
    .n_item{
        margin-bottom: 42px;
        overflow: hidden;
        img{
            float: left;
            margin-right: 22px;
        }
        h4{
            margin: 0;
            a{
                color: #1b66aa;
                font-weight: 300;
                line-height: 18px;
            }
        }
    }
    .s_subs{
        width: 100%;
        height: 110px;
        background:#01407a;
        border-radius: 5px;
        padding: 12px 20px 40px;
        h5{
            color: white;
            font-size: 16px;
            line-height: 12px;
            font-weight: 700;
            margin-top: 2px;
            margin-bottom: 18px;
        }
        input{
            float: left;
            &[type="email"]{
                width: calc(100% - 105px);
                height: 25px;
                border: 0;
                padding: 0 12px;
                margin-top: 3px;
            }
            &[type="submit"]{
                width: 105px;
                height: 30px;
                background-color: #2bb357;
                border-radius: 3px;
                box-shadow: 0 3px 0 #26a14e;
                border: 0;
                font-size: 12px;
                color: #fff;
            }
        }
    }
    .social{
        text-align: center;
        margin-top: 30px;
        h5{
            margin: 0;
            margin-bottom: 16px;
            color: #4380ac;
            font-size: 18px;
        }
        a{
            display: inline-block;
            margin-right: 20px;
            &:last-child{
                margin: 0;
            }
        }
    }
}
.footer{
    width: 100%;
    min-height: 240px;
    background: url('/img/foot_bg.jpg') no-repeat;
    background-size: cover;
    color: #fff;
    line-height: 14px;
    padding: 50px 35px;
    a{
        color: #4fccf0;
    }
}
.f_left,.f_contact,.f_adress,.f_shedule{
    display: inline-block;
    vertical-align: top;
}
.f_left{
    width: 260px;
    margin-right: 65px;
    .pay{
        p{
            margin-top: 20px;
            margin-bottom: 15px;
        }
        img{
            float: left;
            margin-right: 5px;
            &:last-child{
                margin: 0;
            }
        }
    }
}
.f_shedule{
    vertical-align: bottom;
}
/*--------------------- Content end ---------------------*/