//begin head
header.head
	.head_inner
		.logo
			a(href="/")
				img(src="", alt="Мастер-Стол")
		.head_info.clearfix
			.topinfo МАСТЕР-СТОЛ.РФ - оптовые и розничные продажи массажного и косметологического оборудования. Немецкое качество.Достойная цена!
			.head_phone
				a(href="tel:8 (800) 555-15-84") 8 (800) 555-15-84
				a.phone_btn(href="#") Заказать обратный звонок
			.user_menu
				a.entry(href="#") 
					span Вход в Личный кабинет
				a.cart(href="#") <span>Мой заказ</span> 1 товар
			.cart_inner
				.cart_top
					| Итого: <span>4 900 руб.</span><br>
					| Бонус: <b>0.00 руб.</b>
				.cart_item
					img(src="http://lorempixel.com/90/85", alt="")
					.ci_right
						a(href="#") Лайт-Мастер 180
						span.ci_num 1 x 
						span.ci_price 4 200 руб.
						a(href="#").ci_del Х
				.cart_item
					img(src="http://lorempixel.com/90/85", alt="")
					.ci_right
						a(href="#") Лайт-Мастер 180
						span.ci_num 1 x 
						span.ci_price 4 200 руб.
						a(href="#").ci_del Х
				.cart_bottom
					input.ci_clear(type="button",value="Очистить")
					input.ci_order(type="button",value="Оформить заказ")
			.city_select Ваш город: 
				a(href="javascript://") Москва
		a(href="javascript:void(0)").sch_tgg
	nav.menu
		.search
			input(type="search",placeholder="Поиск")
			input(type="submit",value="")
		.m_hamb
			.hamb
		ul
			li
				a(href="/shop/all") Каталог товаров
			li
				a(href="#") Доставка
			li
				a(href="#") Гарантии
			li
				a(href="#") Оплата
			li
				a(href="#") Прайс - лист
			li
				a(href="#") О компании
			li
				a(href="#") Контакты	
//end head